.screenPreviewContainer {
  height: 400px;
  overflow: hidden;
  border: 1px solid #000;
  .screenPreview {
    width: 200%;
    height: 800px;
    transform: scale(0.5);
    transform-origin: 0 0;
    background: none;
    border: 0;
  }
}

.page-flow-feedback {
  &--positive {
    color: #00a33b;
  }
  &--negative {
    color: #a33038;
  }
}

.page-flow--stages, .user-flow--stages {
  @extend .govuk-body;
  padding: 0;
}
.user-flow-item--stage {
  display: inline-block;
}

.user-flow-page-item {
  border-top: 1px solid #333;
  padding-top:1em;
  //margin-bottom: 2em;
}

.page-flow-item--stage, .user-flow-item--stage {
  border-top: 10px solid;
  .page-flow-stage-descriptor {
    padding: 2px 10px;
    display: block;
    //padding: 5px;
  }
  &--1 {
    border-color: $stage-color--1;
  }
  &--2 {
    border-color: $stage-color--2;
  }
  &--3 {
    border-color: $stage-color--3;
  }
  &--4 {
    border-color: $stage-color--4;
  }
  &--authentication {
    border-color: $stage-color--authentication;
  }
  &--documents {
    border-color: $stage-color--documents;
  }
  &--notifications, &--notifications {
    border-color: $stage-color--notifications;
  }
  &:last-of-type {
    .page-flow-item--page{
      &:last-of-type {
        &:before {
          display: none;
        }
      }
    }
  }
}

.page-flow--pages, .user-flow--pages {
  @extend .govuk-body;
  padding: 0;
  .page-flow-item--page {
    display: inline-block;
    font-size: 14px;
    width: 130px;
    //min-height: 200px;
    vertical-align: top;
    position: relative;
    .page-flow-item-screen-icon {
      width: 100px;
      height: 100px;
      display: block;
      background-repeat: no-repeat;
      &--email {
        background-image: url($icons + '/email.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--text-input {
        background-image: url($icons + '/text-input.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--dashboard, &--content-page {
        background-image: url($icons + '/content-page.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--radio-input {
        background-image: url($icons + '/radio-input.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--checkbox-input {
        background-image: url($icons + '/checkbox-input.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--check-answers {
        background-image: url($icons + '/check-answers.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--confirmation {
        background-image: url($icons + '/confirmation.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--task-list {
        background-image: url($icons + '/task-list.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--start-page {
        background-image: url($icons + '/start-page.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
      &--checkbox-page {
        background-image: url($icons + '/checkbox-page.svg');
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
}
.user-flow--pages {
  @extend .page-flow--pages;
  .page-flow-item--page {
    display: inline-block;
    font-size: 14px;
    width: 170px;
    //min-height: 200px;
    vertical-align: top;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      background: url('../images/page-flow/arrow.svg') no-repeat;
      background-size: contain;
      width: 78px;
      left: 92px;
      height: 20px;
      top: 35px;
    }
  }
}