{% if thePageInfo.userNeeds !== undefined %}
    {% from "details/macro.njk" import govukDetails %}
    <details class="govuk-details">
        <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            User needs
                        </span>
        </summary>
        <div class="govuk-details__text">
            {% for userNeed in thePageInfo.userNeeds %}
                <p><strong>{{ userNeed.need }}</strong> {{ userNeed.reason }} - {{ userNeed.id }}</p>
            {% endfor %}
        </div>
    </details>
{% endif %}
