{% macro pageItem(params) %}

    <li class="page-flow-item--page">
        <a href="/{{ params.version }}/{{ params.location }}/{{ params.page.location }}" data-url="/{{ params.version }}{{ params.version }}{{ params.location }}{{ params.page.location }}" target="_blank"
           class="page-flow-item-screen-icon page-flow-item-screen-icon--{{ params.page.type }}"></a>
        {{ params.page.title }}

    </li>
{% endmacro %}
