{% macro stageItem(params) %}
{#    {{ params | dump }}#}
    <li class="page-flow-item--stage page-flow-item--stage--{{ params.stage.id }}">

        <span class="page-flow-stage-descriptor govuk-header">{{ params.name }}</span>

        <p>{{ params.description }}</p>

        {% set lastIndex = (params.stage.versions.length) - 1 %}

        {%- if params.stage.versions[lastIndex] %}
            <ol class="page-flow--pages">
                {% for page in params.stage.versions[lastIndex].pages %}
                    {% from "page-item.njk" import pageItem %}
                    {{ pageItem({
                        page: page,
                        prefix: params.prefix,
                        stage: params.stage,
                        location: params.stage.versions[lastIndex].location,
                        version: params.stage.versions[lastIndex].versionDirectory
                    }) }}
                {% endfor %}
            </ol>
        {% endif -%}

    </li>
{% endmacro %}
